* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
}

header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  background-color: white;
}

header > h1 {
  color: #141413;
  font-weight: 400;
}

#chef-claude-logo {
  width: 44px;
  height: 52px;
  object-fit: contain;
}

body {
  background-color: #fafaf8;
}

.form-container {
  padding: 0 64px;
}

form {
  margin: 70px 0 48px;
  width: 100%;
}

.input-and-button {
  display: flex;
  gap: 12px;
}

input[type="text"] {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  width: 100%;
  color: #141413;
}

button[type="submit"] {
  background-color: #141413;
  color: white;
  padding: 8px 24px;
  border-radius: 6px;
  border: 1px solid #141413;
  font-family: "Inter";
  white-space: nowrap;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #fafaf8;
  color: #141413;
  border: 1px solid #141413;
}
