* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
}

header {
  padding: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

header > h1 {
  color: #141413;
  font-weight: 400;
}

#chef-claude-logo {
  width: 44px;
  height: 52px;
  object-fit: contain;
}
